body {
    background-color: white;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 255, 0.5);
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 255, 0, 0.5);
    ;
    text-align: center;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}