body {
    background-image: url("Imagem 2.jpg");
    margin-top: 3%;
}

h1,
h2 {
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
    text-align: center;

}

p,
form {
    font-family: 'Audiowide', cursive;
    color: aliceblue;
    margin-left: 5%;
    font-size: 25px;
}

h2 {
    margin-bottom: 3%;
}